.input-search-term
    max-width inherit
.btn-genie
    border-top 0px !important
    border-right 0px !important
    border-left 0px !important
    border-bottom 1px solid black !important
    margin 10px 0px 10px 0px
    
.toolbar-text-split
    margin 10px
    button
        font-weight bolder !important
    
footer
    margin 0 auto 
    text-align center
    
.input-regex
    margin 10px
    
.row-counts
    margin 10px
    div
        top 10px
        color #d4d4d4
        span
            color #000
            
.fl-r
    float right !important

.btn-clip
    &:hover
        color blue
    //position relative 
    //top 12px
    //z-index -1
    //border-bottom transparent